---
layout: page
title: Luis Carvalho - Home Page 
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<article class="post featured">
	<header class="major">
		<h2>Hello</h2>
		<p>
			I am a senior research assistant at Norsc, Nothumbria University.<br />
		</p>
	</header>
</article>
<section class="portfolio-list">
	{% assign portfolio_reversed = site.portfolio | reverse %}
	{% for project in portfolio_reversed %}
	<article class="portfolio-item">
		<a href="{{ project.url | absolute_url }}" class="image fit">
			<img src="{{ project.images[0] | absolute_url }}" alt="" />
			<header>
				<h2> {{ project.title }} </h2>
			</header>
		</a>				
	</article>
	{% endfor %}
</section>
<section class="posts">
{% for post in site.posts limit:3 %}
	{% assign mod3 = forloop.index | modulo: 3 %}
	<article>
		<header>
			<span class="date">{{ post.date | date_to_string }}</span>
			<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
		</header>
		<a href="{{ post.url | absolute_url }}" class="image fit" aria-label="Post Image"><img src="{{ post.image | absolute_url }}" alt="" /></a>
		<p>{{ post.excerpt }}</p>
		<ul class="actions">
			<li><a href="{{ post.url | absolute_url }}" class="button">Read More</a></li>
		</ul>
	</article>
{% endfor %}
</section>
<footer>
	<ul class="actions">
		<li>
			<a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a>
		</li>
	</ul>
</footer>
		