---
layout: null
title: Luis Carvalho - Home Page 
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">
		<div id="wrapper" class="fade-in">
			<header id="header">
				<div style="border-style: solid; border-width: thick;">
					<h2 style="padding: 20px;margin: 0;">Luis Carvalho</h2>
				</div>	
			</header>
			<nav id="nav">
            	{% include nav.html %}
			</nav>
			<div id="main">
				<article class="post featured">
					<header class="major">
						<h2><a href="#">JK</a></h2>
						<p>
							With only a few edits, you can have a stunningly beautiful website <br />
							nearly out of the box. Of course... you can always take it further <br />
							and make it something even more amazing!

							I am technologist 
						</p>
					</header>
				</article>
				<section class="portfolio-list">
					{% assign portfolio_reversed = site.portfolio | reverse %}
					{% for project in portfolio_reversed %}
					<article class="portfolio-item">
						<!--a href="{{ project.url | absolute_url }}" class="image fit">
							<img src="{{ project.images[0] | absolute_url }}" alt="" />
						</a>
						<header>
							<h2>
								<a href="{{ project.url | absolute_url }}">{{ project.title }}</a>
							</h2>
						</header-->
						<a href="{{ project.url | absolute_url }}" class="image fit">
							<img src="{{ project.images[0] | absolute_url }}" alt="" />
							<header>
								<h2> {{ project.title }} </h2>
							</header>
						</a>				
					</article>
					{% endfor %}
				</section>
				<section class="posts">
				{% for post in site.posts limit:3 %}
					{% assign mod3 = forloop.index | modulo: 3 %}
					<article>
						<header>
							<span class="date">{{ post.date | date_to_string }}</span>
							<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
						</header>
						<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
						<p>{{ post.excerpt }}</p>
						<ul class="actions">
							<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
						</ul>
					</article>
					{% if mod3 == 0 %}
					<article>
						<header>
							<h2><a href="#">Sponsored</a></h2>
						</header>

					</article>
					{% endif %}
				{% endfor %}
				</section>
				<footer>
					<ul class="actions">
						<li>
							<a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a>
						</li>
					</ul>
				</footer>
			</div>
			{% include foot.html %}
		</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    	{% include tracking.html %}
	</body>
</html>
