{% for work in workList | reverse %}
  <div style="display: flex; margin: 20px; flex-wrap: wrap;
  justify-content: center;">
    <div>
      <figure style="width: 200px; flex: 0 1 200px;">
          <img src="{{ work.data.logo | url }}" style="width: 200px;">
      </figure>
    </div>
    <div style="display: flex; flex-direction: column; flex: 1 1 200px;">
        <h2 style="margin-bottom: 10px; margin-top: 12px;">{{ work.data.title }}</h2>
        <small>{{ work.data.organization }}</small>
        <small> {{ work.data.start }} - {{ work.data.end }}</small>
        <small>{{ work.data.location }}</small>
        <div style="margin-top: 10px;">
          {{work.templateContent| safe}}
        </div>
    </div>
  </div>
{% endfor %}

