<!DOCTYPE HTML>
<html lang="en">
	<head>
    	{% include head.html %}
	</head>
	<body class="is-loading">
		<div id="wrapper" class="fade-in">
			<header id="header">			
				<div style="border-style: solid;border-width: thick;">
					<h2 style="padding: 20px;margin: 0;">Luis Carvalho</h2>
				</div>	
				<!--a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a-->
			</header>
			<nav id="nav">
            	{% include nav.html %}
			</nav>
			<div id="main">
				{{content}}
				<!--section class="post">
					<p>{{content}}</p>
				</section>
				<footer>
              		<ul class="actions">
						<li>
							<a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a>
						</li>
              		</ul>
				</footer-->
			</div>
        	{% include foot.html %}
		</div>
		{% include scripts-main.html %}
	</body>
</html>
